body {
  margin: 0;
  font-family: "Overpass", sans-serif;
}

canvas {
  display: block;
  position: fixed;
  z-index: -1;
  max-width: 100%;
}

.slider{ 
  width: 20vw; 
  background: #04AA6D;
  cursor: pointer;
  margin: 20px;
}