body {
  margin: 0;
  font-family: "Overpass", sans-serif;
}

.grid-container {
  display: grid;
}

canvas {
  display: block;
  position: fixed;
  z-index: -1;
  max-width: 100%;
}

.fullbody {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
